<div class="flex flex-col ">
  <div class="flex flex-row justify-between pr-2 pt-2 ">
    <div>
      <span></span>
      <button *ngIf="selection.hasValue()" class="ml-2 " (click)="onDeleteSelected()" mat-stroked-button color="warn">
        Delete Selected
      </button>
    </div>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>apps</mat-icon>
    </button>
    <mat-menu #menu="matMenu" class="w-80 h-full ">
      <app-column-editable [columns]="columns" (onSave)="onSave($event)"
                           (onCancel)="trigger.closeMenu()"></app-column-editable>
    </mat-menu>
  </div>

  <div>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef class="w-16">
          <mat-checkbox (change)="$event ? toggleAllRows() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell [style.width]="getWidth('title')" *matHeaderCellDef mat-sort-header> Title</th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
      </ng-container>

      <ng-container matColumnDef="body">
        <th mat-header-cell [style.width]="getWidth('body')" *matHeaderCellDef mat-sort-header> Body</th>
        <td mat-cell *matCellDef="let element"> {{element.body}} </td>
      </ng-container>

      <ng-container matColumnDef="title1">
        <th mat-header-cell [style.width]="getWidth('title1')" *matHeaderCellDef mat-sort-header> Title 1</th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
      </ng-container>

      <ng-container matColumnDef="body1">
        <th mat-header-cell [style.width]="getWidth('body1')" *matHeaderCellDef mat-sort-header> Body 1</th>
        <td mat-cell *matCellDef="let element"> {{element.body}} </td>
      </ng-container>

      <ng-container matColumnDef="title2">
        <th mat-header-cell [style.width]="getWidth('title2')" *matHeaderCellDef mat-sort-header> Title 2</th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
      </ng-container>

      <ng-container matColumnDef="body2">
        <th mat-header-cell [style.width]="getWidth('body2')" *matHeaderCellDef mat-sort-header> Body 2</th>
        <td mat-cell *matCellDef="let element"> {{element.body}} </td>
      </ng-container>

      <ng-container matColumnDef="title3">
        <th mat-header-cell [style.width]="getWidth('title3')" *matHeaderCellDef mat-sort-header> Title 3</th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
      </ng-container>

      <ng-container matColumnDef="body3">
        <th mat-header-cell [style.width]="getWidth('body3')" *matHeaderCellDef mat-sort-header> Body 3</th>
        <td mat-cell *matCellDef="let element"> {{element.body}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns:  displayedColumns"></tr>
    </table>
  </div>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
</div>



